{% extends 'base.html' %}
{% block content %}
<div class="border col-7">
    <h3>入力フォーム</h3>
    <br>
    <form method="POST" action="{{url_for('form')}}">
        <div class="form-group">
            {{form.csrf_token}}
            {{ form.username.label }}
            {{ form.username }}
        </div>
        <div>
            {% for error in form.username.errors %}
            <span style="color:red;">{{error}}</span>
            {% endfor %}
        </div>
        <br>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <br>
        <div class="col-5">
            {{ form.submit}}
        </div>
    </form>
</div>
{% endblock %}